body {
  font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #292b2c;
  background-color: #f5f5f5;
}

.content {
  margin-top: 54px;
}

.header {
  padding: 15px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
  background: #f0db4f !important;
}

.left-title a {
  width: 80px;
  color: #fff !important;
  font-size: 18px;
  float: left;
  text-decoration: none;
  cursor: pointer;
}

.left-title a:hover {
  letter-spacing: 3px;
}

.right-title {
  width: 150px;
  text-align: right;
  float: right;
  color: #FFF;
}

.quiz-body {
  margin-top: 35px;
  padding-bottom: 50px;
}

.option-block-container {
  margin-top: 20px;
  max-width: 420px;
}

.option-block {
    padding: 10px;
    background: #fff;
    border: 1px solid #fff;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.26);
    -moz-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.26);
    -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.26);
    cursor: pointer;
}

.result-question {
  font-weight: bold;
}

.c-wrong {
  margin-left: 20px;
  color: #FF0000;
}

.c-correct {
  margin-left: 20px;
  color: green;
}

.last-row {
  border-bottom: 1px solid #ccc;
  padding-bottom: 25px;
  margin-bottom: 25px;
}

.res-header {
  border-bottom: 1px solid #ccc;
  margin-bottom: 15px;
  padding-bottom: 15px;
}

/* Button Next/Previous */
.btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.25;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .5rem 2rem;
    font-size: 1rem;
    border-radius: .25rem;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    cursor: pointer;
}

.my-btn {
    color: #fff;
    background-color: #f0db4f;
    border-color: #f0db4f;
}

@media only screen and (max-width: 389px) {
  button, a {
	  width: 100%;
  }
}

.my-btn:hover,
.my-btn:focus,
.my-btn:active,
.my-btn.active {
    color: #fff;
    background-color: #f0db4f;
    border-color: #f0db4f;
}

.my-btn.disabled, .my-btn:disabled {
    background-color: #f0db4f;
    border-color: #f0db4f;
}

.my-btn.disabled, .my-btn:disabled:hover,
.my-btn.disabled, .my-btn:disabled:focus,
.my-btn.disabled, .my-btn:disabled:active,
.my-btn.disabled, .my-btn:disabled.active {
    background-color: #f0db4f;
    border-color: #f0db4f;
    cursor: not-allowed;
}

.my-btn:focus {
  outline: none !important;
  border: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

/* Hostinger Ads CSS */
.hostinger-ad {
	width: 100%;
	padding-top: 115px;
    padding-bottom: 20px;
}

.img-responsive {
	display: block;
	width: 100%;
}
.img-responsive.tablet {
	display: none;
}
.img-responsive.mobile {
	display: none;
}
@media only screen and (max-width: 850px) and (min-width: 551px)  {
   .hostinger-ad {
	width: 100%;
	padding-top: 20px;
	padding-bottom: 10px;
   }
  .img-responsive {
    display: none;
  }
  .img-responsive.tablet {
    display: block;
	width: 100%;
  }
  .img-responsive.mobile {
    display: none;
  }
}
@media only screen and (max-device-width: 550px) {
   .hostinger-ad {
	width: 100%;
	padding-top: 20px;
	padding-bottom: 10px;
   }
  .img-responsive {
    display: none;
  }
  .img-responsive.tablet {
    display: none;
  }
  .img-responsive.mobile {
    display: block;
	width: 100%;
  }
}