
# DO NOT REMOVE THIS LINE AND THE LINES BELLOW SSL_REDIRECT:jsquiz.dev4beginners.com
RewriteEngine on
RewriteCond %{HTTPS} off
RewriteCond %{HTTP_HOST} (www\.)?jsquiz.dev4beginners.com
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
# DO NOT REMOVE THIS LINE AND THE LINES BELLOW SSL_REDIRECT:jsquiz.dev4beginners.com
